[submodule "ome-common-java"]
	path = ome-common-java
	url = https://github.com/ome/ome-common-java.git
	branch = master
[submodule "ome-model"]
	path = ome-model
	url = https://github.com/ome/ome-model.git
	branch = master
[submodule "ome-poi"]
	path = ome-poi
	url = https://github.com/ome/ome-poi.git
	branch = master
[submodule "ome-mdbtools"]
	path = ome-mdbtools
	url = https://github.com/ome/ome-mdbtools.git
	branch = master
[submodule "ome-jai"]
	path = ome-jai
	url = https://github.com/ome/ome-jai.git
	branch = master
