[submodule "ome-common-java"]
	path = ome-common-java
	url = https://github.com/ome/ome-common-java.git
	branch = master
[submodule "ome-model"]
	path = ome-model
	url = https://github.com/ome/ome-model.git
	branch = master
[submodule "ome-poi"]
	path = ome-poi
	url = https://github.com/ome/ome-poi.git
	branch = master
[submodule "ome-mdbtools"]
	path = ome-mdbtools
	url = https://github.com/ome/ome-mdbtools.git
	branch = master
[submodule "ome-jai"]
	path = ome-jai
	url = https://github.com/ome/ome-jai.git
	branch = master
[submodule "ome-codecs"]
	path = ome-codecs
	url = https://github.com/ome/ome-codecs.git
	branch = master
[submodule "ome-metakit"]
	path = ome-metakit
	url = https://github.com/ome/ome-metakit.git
	branch = master
[submodule "ome-stubs"]
	path = ome-stubs
	url = https://github.com/ome/ome-stubs.git
	branch = master
[submodule "bioformats"]
	path = bioformats
	url = https://github.com/openmicroscopy/bioformats.git
	branch = develop
[submodule "bio-formats-bundles"]
	path = bio-formats-bundles
	url = https://github.com/ome/bio-formats-bundles.git
	branch = master
[submodule "bio-formats-test"]
	path = bio-formats-test
	url = https://github.com/ome/bio-formats-test.git
	branch = master
[submodule "bio-formats-matlab"]
	path = bio-formats-matlab
	url = https://github.com/ome/bio-formats-matlab.git
	branch = master
